<div class="card p-3">
  <div
    class="card-header bg-white border-0 mb-3 d-flex align-items-center p-0 gap-2"
  >
    <img
      src="https://placehold.co/150"
      class="w-fixed-35 h-fixed-35 rounded-circle"
    />
    <h5 class="mb-0 flex-grow-1">Author Name</h5>
    <span># tasks left</span>
  </div>
  <div class="d-flex flex-column gap-2">
    <app-task> <span slot="2" class="badge bg-danger">Status</span></app-task>
    <app-task> <span slot="2" class="badge bg-danger">Status</span></app-task>
    <app-task> <span slot="2" class="badge bg-danger">Status</span></app-task>
  </div>
</div>
