<div class="card p-3">
  <div
    class="card-header bg-white border-0 mb-3 d-flex align-items-center p-0 gap-2"
  >
    <img src="{{ user.image }}" class="w-fixed-35 h-fixed-35 rounded-circle" />
    <h5 class="mb-0 flex-grow-1">
      Assigned to:
      {{ user.firstName + " " + user.lastName }}
    </h5>
    <span>{{
      taskLeft > 0 ? taskLeft + " tasks to complete" : "All done"
    }}</span>
    <div class="position-relative">
      <button (click)="showForm()" class="border-0 badge bg-primary">
        <i class="fa-solid fa-plus" *ngIf="!show"></i>
        <i class="fa-solid fa-minus" *ngIf="show"></i>
      </button>
      <div
        *ngIf="show"
        class="position-absolute top-50 end-0 z-3 w-fixed-250 p-2 mt-3"
      >
        <form (submit)="addTask()" class="p-3 shadow-lg bg-light rounded-3">
          <input
            class="input-group-text w-100 text-start"
            type="text"
            name="newTask"
            [(ngModel)]="newTask"
            placeholder="Add a new task..."
          />
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-2">
    <app-task *ngFor="let todo of user.todos" [todo]="todo">
      <button
        *ngIf="todo.completed"
        slot="2"
        (click)="delete(todo.id)"
        class="border-0 badge bg-danger"
      >
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <span
        slot="2"
        [ngClass]="{
          'bg-success': todo.completed,
          'bg-danger': !todo.completed
        }"
        class="badge"
        >{{ todo.completed ? "Completed" : "Uncompleted" }}</span
      ></app-task
    >
  </div>
</div>
