<div class="container py-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    <div *ngFor="let todo of todos" class="col">
      <app-task [id]="todo.id">
        <div slot="1" class="mt-3 d-flex flex-column">
          <p class="authorName mb-1">
            Assigned to: <span>{{ todo.author }}</span>
          </p>
          <span
            [ngClass]="{
              'bg-danger': !todo.completed,
              'bg-success': todo.completed
            }"
            class="badge align-self-end"
            >{{ todo.completed ? "Completed" : "Uncompleted" }}</span
          >
        </div>
      </app-task>
    </div>
  </div>
</div>
